@import url("./fonts.css");


html {
    font-family: 'Charter-Racket', serif !important;
}
pre {
    font-family: 'Fira-Mono', monospace !important;
}

img {
    max-width: 100%;
}

@media all {
    body #content {
        border: 1px solid lightgray;
        margin-left: 14%;
        margin-right: 14%;
        padding-left: 8%;
        padding-right: 8%;
    }

    #table-of-contents ul {
      padding-left: 0.25em;
    }
    #table-of-contents:hover #text-table-of-contents {
      margin-left: 0.5em;
    }
}
@media all and (max-width: 1040px) {
    body #content {
        margin-left: 8%;
        margin-right: 8%;
        padding-left: 6%;
        padding-right: 6%;
        border: none;
    };
}
@media all and (max-width:900px) {
    body #content {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 0%;
        padding-right: 0%;
        border: none;
    }
    blockquote {
        margin-left: 1em;
        marign-right: 1em;
    }
}

.utterances-frame {
    height: 300px !important;
    position: relative !important;
    margin-top: 8em;
}
.utterances {
    height: 100% !important;
}